.Tilt {
    background: #427ba1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #816ccc, #4ca3dd);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7763be, #439bd6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}